*.class
*~

# Package Files #
*.jar
*.war
*.ear

# Gradle
.gradle/
/build/
!/gradle/wrapper/*

# Eclipse
.classpath
.project
.settings/

# IDEA
*.iml
*.ipr
*.iws
/.idea/

# General test run stuff
/run/
/out/
